%right-top-corner {
  position: absolute !important;
  top: 0px;
  right: 0px;
}

$clear-icon-size: 24px;


//cancel link decoration
a {
  text-decoration: none;
  color: inherit;
}

.content {
  margin-top: 144px;
}

body {
  background-color: #F6F6F6;
}

.favorite-button {
  @extend %right-top-corner
}

.clear-button {
  @extend %right-top-corner;
  top: calc(50% - 24px);
}

